.navbar {
  background-color: #fff;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__group {

  }

  &__item {
    a {
      display: block;
      width: 100%;
      padding: 1rem;
      text-decoration: none;
      color: #666;
      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}